<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:m.gonzalez@student.fontys.nl"><i class="fa fa-envelope"></i> m.gonzalez@student.fontys.nl</a></li>
          <li><a href="mailto:j.kerkenhoff@student.fontys.nl"><i class="fa fa-envelope"></i> j.kerkenhoff@student.fontys.nl</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          <li>
            <a href="https://github.com/MyRealityCoding"><span class="username"><i class="fa fa-github-square"></i> MyRealityCoding</span>
            </a>
          </li>
          <li>
            <a href="https://github.com/kerko"><span class="username"><i class="fa fa-github-square"></i> kerko</span>
            </a>
          </li>

          <li>
            <a href="https://twitter.com/tweetmyreality"><span class="username"><i class="fa fa-twitter-square"></i> tweetmyreality</span>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/kerko"><span class="username"><i class="fa fa-twitter-square"></i> kerko</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
