<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="table">
          <div class="table-cell">
            <ul class="sidebar">
              {% for tutorial in site.tutorials %}
                <li>
                    <a class="post-link" href="{{ tutorial.url | prepend: site.baseurl }}">{{ forloop.index }}. {{ tutorial.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
          <div class="table-cell">
            {{ content }}
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
